   <style>
        
  /* Estoque Drop - estilos */

body {
    font-family: Arial, sans-serif;
    color: #333;
    background: #f4f4f4; /* Adiciona um fundo para a página */
}

.wrap {
    max-width: 960px;
    margin: 35px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.wrap h2 {
    font-size: 24px;
    color: #21759b;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
}

.wrap h3 {
    font-size: 18px;
    color: #21759b;
    margin-top: 30px;
    margin-bottom: 10px;
}

.wrap form {
    margin-bottom: 20px;
}

.wrap input[type="text"],
.wrap input[type="number"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 10px;
}

.wrap input[type="submit"] {
    background-color: #21759b;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.wrap input[type="submit"]:hover {
    background-color: #1e6a8d;
}

.wrap table {
    width: 100%;
    border-collapse: collapse;
}

.wrap table th,
.wrap table td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.wrap table th {
    background-color: #f1f1f1;
}

.wrap table tr:hover {
    background-color: #f9f9f9;
}

.wrap .notice {
    padding: 10px;
    border-left: 4px solid #ffba00;
    background-color: #fffbea;
    margin-bottom: 20px;
}

.estoque-drop-dashboard {
    display: flex;
    justify-content: space-evenly; /* Distribui o espaço igualmente */
    flex-wrap: wrap; /* Quebra a linha em telas menores */
    gap: 20px; /* Espaço entre os cards */
        margin-left: 180px ;
            margin-top: 25px;
    margin-bottom: 25px;

}

.dashboard-card {
    flex: 1;
    min-width: 250px; /* Largura mínima para responsividade */
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    position: relative; /* Para posicionamento absoluto de elementos internos */
}

.dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.dashboard-card h3 {
    font-size: 1.2em;
    color: #333;
    font-weight: 600;
}

.dashboard-card p {
    font-size: 2em;
    color: #21759b;
    margin: 0;
    font-weight: 700; /* Torna o texto mais grosso */
}

.dashboard-card:before {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border-radius: 10px;
    background: linear-gradient(45deg, #6EC1E4, #6495ED); /* Gradiente de cores para um visual moderno */
    z-index: -1; /* Coloca o gradiente atrás do conteúdo */
    opacity: 0.7;
}

@media (max-width: 768px) {
    .estoque-drop-dashboard {
        justify-content: center; /* Centraliza os cards em telas menores */
    }
}

div#members_review_notice {
    display: none;
}

    </style>
 