/* Estilos Gerais do Quadro Kanban */
#kanban-board {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff; /* Fundo branco */
    overflow-x: auto;
}

.kanban-column {
    width: 370px;
    background: linear-gradient(to bottom, #f9fafb, #eaecef); /* Gradiente de fundo */
    margin: 0 15px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: all 0.3s ease;
}

.kanban-column:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Efeito ao passar o mouse */
}

.kanban-column h3 {
    color: #333;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase; /* Títulos em maiúsculas */
    letter-spacing: 1px;
}

.kanban-tasks {
    margin-top: 10px;
}

/* Estilos das Tarefas */
.task {
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 8px;
    
    margin-bottom: 15px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.task:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Estilos do Formulário de Adição e Edição de Tarefas */
/* ... Mantenha os estilos atuais do formulário ... */

#popup-info {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  
    max-width: 100%; /* Ajuste para um tamanho adequado */
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: scroll; /* Para conteúdo grande */
    height: 600px;
    width: 650px;
   
}

#popup-info h2 {
    color: #333;
    font-size: 22px;
    margin-bottom: 15px;
}

#popup-info .popup-section {
    margin-bottom: 20px;
}

#popup-info .popup-section-title {
    color: #0079bf;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#popup-info p {
    margin: 10px 0;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

#popup-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
}


/* Responsividade */
@media (max-width: 768px) {
    #kanban-board {
        flex-direction: column;
    }

    .kanban-column {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .kanban-column h3 {
        font-size: 18px;
    }

    #popup-info {
        padding: 30px;
        width: 90%;
    }
}

/* Estilos do Popup */
#popup-info {
  
    left: 50%;
    top: 50%;
   
    text-align: center;
}

#popup-info p {
    margin: 10px 0;
}

#form-editar-tarefa {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
    padding: 20px;
    background: #0000000a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#form-editar-tarefa label {
    margin-top: 10px;
    font-weight: bold;
}

#form-editar-tarefa input[type="text"],
#form-editar-tarefa input[type="date"],
#form-editar-tarefa textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#form-editar-tarefa .subtarefas-container {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

#form-editar-tarefa button {
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#form-editar-tarefa button[type="submit"] {
    background-color: #256727;
    color: white;
}

#form-editar-tarefa button[type="button"] {
    background-color: #8a1106;
    color: white;
}

#form-editar-tarefa button:hover {
    opacity: 0.9;
}

#popup-close-pp {
    float: right;
    cursor: pointer;
}


#popup-close-pp {
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 20px;
    font-size: 30px;
    color: #0a2cb1;
}

#popup-close-pp:hover {
    color: #830606;
}
  
/* Vermelho para tarefas em 'Para Fazer' */
.kanban-todo .task {
    border-left: 4px solid #830f0f; /* Borda esquerda colorida */
    /* Outros estilos conforme necessário */
}

/* Azul para tarefas em 'Em Andamento' */
.kanban-doing .task {
    border-left: 4px solid #ffb13b;
}

/* Verde para tarefas em 'Concluído' */
.kanban-done .task {
    border-left: 4px solid green;
}

.kanban-form {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="submit"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group textarea {
    height: 100px;
}

.green-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.green-button:hover {
    background-color: #45a049;
}

.subtarefa-concluida label {
    text-decoration: line-through;
}
.subtarefas-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
  }

  .subtarefa {
    margin-bottom: 5px;
  }

  .avatar-responsavel, .avatar-dono {
    width: 30px;      /* Tamanho do avatar */
    height: 30px;     /* Altura igual à largura para manter a proporção */
  
    object-fit: cover; /* Garante que a imagem cubra toda a área sem distorcer */
    margin-right: 5px; /* Espaço entre os avatares */
    border: 2px solid #fff; /* Borda branca ao redor do avatar */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra suave para destacar */
    margin: 10px;
}

/* Contêiner para os avatares, se necessário */
.avatar-container {
    display: flex; /* Organiza os avatares lado a lado */
    align-items: center; /* Alinha verticalmente */
}

img.avatar-dono {
    margin: -15px;
}
.elementor img {
 
     border-radius: 50px !important;
    
}

textarea#descri {
    max-width: 100%;
    height: 200px;
}

#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Certifique-se de que está sobre outros elementos */
}


#toggle-filtro {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#toggle-filtro:hover {
    background-color: #45a049;
}

#formulario-filtro {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
}

#formulario-filtro label {
    margin-right: 10px;
}

#formulario-filtro input[type="date"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#formulario-filtro input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#formulario-filtro input[type="submit"]:hover {
    background-color: #45a049;
}

.kanban-column.kanban-doing {
    border-top:  solid #ffb13b;
}
.kanban-column.kanban-todo{
    border-top:  solid #830f0f;
}
.kanban-column.kanban-done{
    border-top:  solid green;
}

.form-busca-franqueados {
    margin: 20px 0;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.form-busca-franqueados select, .form-busca-franqueados input[type="submit"] {
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-busca-franqueados input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.form-busca-franqueados input[type="submit"]:hover {
    background-color: #45a049;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.user-info img {
    border-radius: 50%;
    margin-right: 10px;
}

.user-info span {
    font-size: 1.2em;
}
/* Estilização do container das subtarefas */
.subtarefas-container {
    margin: 10px 0;
    padding-left: 0; /* Remove a indentação padrão da lista */
}

/* Estilo para cada item da lista de subtarefas */
.subtarefa-item {
    display: flex;
    align-items: center; /* Alinha o checkbox e o texto verticalmente */
    margin-bottom: 8px;
    background-color: #f9f9f9; /* Fundo claro para cada subtarefa */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 8px; /* Espaçamento interno */
    transition: background-color 0.3s; /* Transição suave ao mudar o fundo */
    flex-wrap: wrap;
}

/* Estilo personalizado para o checkbox */
.subtarefa-checkbox {
    appearance: none; /* Remove a aparência padrão */
    width: 20px;
    height: 20px;
    margin-right: 12px;
    border: 2px solid #007bff; /* Borda azul */
    border-radius: 3px; /* Borda levemente arredondada */
    position: relative;
    cursor: pointer;
}

/* Quando o checkbox estiver marcado */
.subtarefa-checkbox:checked {
    background-color: #007bff; /* Cor de fundo ao marcar */
}

/* Adicionando um indicador de 'check' ao checkbox marcado */
.subtarefa-checkbox:checked::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Estilo para o texto das subtarefas */
.subtarefa-nome {
    flex-grow: 1; /* Ocupa o espaço restante */
    margin: 0; /* Remove a margem padrão */
    font-size: 12px;
}

/* Quando a subtarefa estiver concluída */
.subtarefa-item.concluido .subtarefa-nome,
.subtarefa-item .subtarefa-checkbox:checked + .subtarefa-nome {
    text-decoration: line-through;
    color: #6c757d; /* Texto cinza para indicar conclusão */
}

/* Efeito ao passar o mouse sobre o item da subtarefa */
.subtarefa-item:hover {
    background-color: #f2f2f2; /* Muda o fundo ao passar o mouse */
}

#popup-info.popup-todo {
    border-top: solid #830f0f; /* Cor para tarefas em TODO */
    border-left: solid #830f0f;
}
#popup-info.popup-doing {
    border-top:  solid orange; /* Cor para tarefas em DOING */
    border-left:  solid orange;
}
#popup-info.popup-done {
    border-top:  solid green; /* Cor para tarefas em DONE */
    border-left:  solid green;
}

/* Estilizando a barra de rolagem (thumb) */
::-webkit-scrollbar-thumb {
    background-color: darkgrey; /* Cor do thumb */
    border-radius: 10px; /* Borda arredondada */
}

/* Estilizando o trilho do scrollbar (track) */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do trilho */
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 10px; /* Largura do scrollbar */
}