/* Estilos Gerais do Quadro Kanban */
#kanban-board {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff; /* Fundo branco */
    overflow-x: auto;
}

.kanban-column {
    width: 470px;
    background: linear-gradient(to bottom, #f9fafb, #eaecef); /* Gradiente de fundo */
    margin: 0 15px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: all 0.3s ease;
}

.kanban-column:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Efeito ao passar o mouse */
}

.kanban-column h3 {
    color: #333;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase; /* Títulos em maiúsculas */
    letter-spacing: 1px;
}

.kanban-tasks {
    margin-top: 10px;
}

/* Estilos das Tarefas */
.task {
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 8px;
    
    margin-bottom: 15px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.task:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Estilos do Formulário de Adição e Edição de Tarefas */
/* ... Mantenha os estilos atuais do formulário ... */

#popup-info {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  
    max-width: 100%; /* Ajuste para um tamanho adequado */
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: scroll; /* Para conteúdo grande */
    height: 500px;
   
}

#popup-info h2 {
    color: #333;
    font-size: 22px;
    margin-bottom: 15px;
}

#popup-info .popup-section {
    margin-bottom: 20px;
}

#popup-info .popup-section-title {
    color: #0079bf;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#popup-info p {
    margin: 10px 0;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

#popup-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
}


/* Responsividade */
@media (max-width: 768px) {
    #kanban-board {
        flex-direction: column;
    }

    .kanban-column {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .kanban-column h3 {
        font-size: 18px;
    }

    #popup-info {
        padding: 30px;
        width: 90%;
    }
}

/* Estilos do Popup */
#popup-info {
  
    left: 50%;
    top: 50%;
   
    text-align: center;
}

#popup-info p {
    margin: 10px 0;
}

#form-editar-tarefa label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

#form-editar-tarefa input, #form-editar-tarefa textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ddd;
}

#popup-close-pp {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 25px;
    color: #080808;
}

#popup-close-pp:hover {
    color: #0079bf;
}
  
/* Vermelho para tarefas em 'Para Fazer' */
.kanban-todo .task {
    border-left: 4px solid #830f0f; /* Borda esquerda colorida */
    /* Outros estilos conforme necessário */
}

/* Azul para tarefas em 'Em Andamento' */
.kanban-doing .task {
    border-left: 4px solid rgb(240, 236, 0);
}

/* Verde para tarefas em 'Concluído' */
.kanban-done .task {
    border-left: 4px solid green;
}

.kanban-form {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="submit"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group textarea {
    height: 100px;
}

.green-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.green-button:hover {
    background-color: #45a049;
}

.subtarefa-concluida label {
    text-decoration: line-through;
}
.subtarefas-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
  }

  .subtarefa {
    margin-bottom: 5px;
  }

  .avatar-responsavel, .avatar-dono {
    width: 30px;      /* Tamanho do avatar */
    height: 30px;     /* Altura igual à largura para manter a proporção */
  
    object-fit: cover; /* Garante que a imagem cubra toda a área sem distorcer */
    margin-right: 5px; /* Espaço entre os avatares */
    border: 2px solid #fff; /* Borda branca ao redor do avatar */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra suave para destacar */
    margin: 10px;
}

/* Contêiner para os avatares, se necessário */
.avatar-container {
    display: flex; /* Organiza os avatares lado a lado */
    align-items: center; /* Alinha verticalmente */
}

img.avatar-dono {
    margin: -15px;
}
.elementor img {
 
     border-radius: 50px !important;
    
}

textarea#descri {
    max-width: 100%;
    height: 200px;
}